{% extends "layouts/base.html" %}
{% set project = "Home" %}

{% block body %}
    <!-- Start of body content specific to page -->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-white"><strong>Viralize Backend</strong></h1>
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/airplane.jpg') }}" alt="Social Media Analytics" height="350">
                    <div class="card-body">
                    <h5 class="card-title">What is <mark>Viralize</mark>?</h5>
                    <p class="card-text">
                        <ol>
                            <li>Post Analytics Dashboard</li>
                            <li>Platform-Based Tracking</li>
                            <li>Content Optimization</li>
                            <li>Cross-Platform Posting</li>
                            <li>Real-Time Feedback</li>
                            <li>Admin Insights</li>
                        </ol>
                    </p>
                    <a class="btn btn-primary" href="https://luojonah.github.io/palomarhealth_frontend/">Explore Viralize</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/traveler.jpg') }}" alt="Project Details" height="350">
                    <div class="card-body">
                    <h5 class="card-title">What is the goal of <mark>Viralize</mark>?</h5>
                    <p class="card-text">
                        Viralize is a social media analytics platform designed for Palomar Health. Its goal is to help visualize and analyze social media performance across platforms like Instagram, Twitter, Facebook, and LinkedIn. 
                        By offering real-time insights into post reach, engagement, and content types, Viralize empowers healthcare professionals to spread health education more effectively.

                        <br><br><strong>Backend Repository:</strong> 
                        <a href="https://github.com/luojonah/palomarhealth_backend" target="_blank">GitHub Backend Repo</a><br><br>

                        <strong>Frontend Repository:</strong> 
                        <a href="https://github.com/luojonah/palomarhealth_frontend" target="_blank">GitHub Frontend Repo</a><br><br>

                        <strong>Project Kanban Board:</strong> 
                        <a href="https://github.com/users/luojonah/projects/3" target="_blank">GitHub Project Board</a><br><br>
                    </p>                    
                    <a class="btn btn-primary" href="https://luojonah.github.io/palomarhealth_frontend/">Try the Platform</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/hotel.jpg') }}" alt="Team Members" height="350">
                    <div class="card-body">
                    <h5 class="card-title">Who built <mark>Viralize</mark>?</h5>
                    <p class="card-text">
                        Mr. Mort's Period 5 CSP Class Table 1<br><br>
                        Jonah Luo<br>
                        Akshaj Gurgubelli<br>
                        Arya Savlani<br>
                        Tarun Rayavarapu<br>
                        Justin Quach
                    </p>                    
                    <a href="https://luojonah.github.io/palomarhealth_frontend/about/" class="btn btn-primary">About the Team</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
